body {margin: 0;}

ul.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.navigation li a {
  display: block;
  color: #363854;
  padding: 8px 16px;
  text-decoration: none;
}

ul.navigation li a:hover {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 10%;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 900px) {
  ul.navigation {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  ul.navigation li a {
    float: left;
    padding: 15px;
  }
  
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 450px) {
  ul.navigation li a {
    text-align: center;
    float: none;
  }
}