#main{
    font-family: sans-serif;
    align-content: center;
    padding-left: 10vw;
    padding-right: 10vw;
}

#form_sample{
    border: 2px solid #ccc;
    padding: 0 50px 15px;
    background-color: #e0e0e0;
}

hr{
    margin-top:-5px;
}

label{
    /* float:left; */
    font-size: 20px;
}


input[type="text"]{
    width: 100%;
    margin-top: 10px;
    height: 35px;
    margin-bottom: 25px;
    padding: 10px;
    border: 3px solid #363854;
    font-size: 18px;
}
textarea{
    width: 100%;
    border: 3px solid #363854;
    padding: 10px;
    margin-bottom: 25px;
    margin-top: 10px;
    height: 100px;
    resize: none;
    font-size: 18px;

}
input[type="submit"]{
    padding: 10px 45px;
    background-color: #363854;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    font-family: sans-serif;
}
