* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 80px;
  text-align: center;
  background-image: url(../images/name4.jpg);
  height: 350px; 
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}



/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

.me {
  background-image: url(../images/me3.jpg);
  background-position: center;
  background-repeat: no-repeat;

}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

.container {
  display: flex;
}

.container div {
  padding-right: 50px;
}

.photorow {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.imgcontainer {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #363854;
}

.imgcontainer:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: #363854;
}

/* mouse over link */
a:hover {
  color: #363854;
}

.slider: img {
    margin:0 auto;
    width: 10%;
    max-width: 200px;
    min-width: 100px;
}


@media screen and (max-width: 950px) {
  .header {
    height: 280px;
  }
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 450px) {
  .navigation a {
    float: none;
    width: 100%;
  }
  .footer {
    padding-top: 200px;
    text-align: center;
    background: white;
}
}
}
